div {
  text-align: center;
}

#root {
  background-color: #1e555c;
  color: white;
  height: 100vh;
  display: flex;
}

#display {
  margin: auto;
}

#title {
  margin: 0 auto 0.75em;
  width: 600px;
  font-size: 3em;
  font-weight: 400;
}

.ic-wrapper {
  display: inline-block;
  width: 50%;
}

.ic-title {
  margin: auto;
  font-size: 2em;
  font-weight: 200;
}

.control-panel {
  margin: auto;
  width: fit-content;
}

.ic-decrement,
.ic-interval,
.ic-increment,
#start_stop,
#reset {
  display: inline-block;
  font-size: 2em;
}

.ic-interval {
  margin: 0 0.375em;
}

#display-wrapper {
  border: 7px solid #13353a;
  border-radius: 50px;
  display: inline-block;
  width: 50%;
  margin: 1.5em auto 0;
}

#reset {
  margin-left: 0.75em;
}

#time-left {
  color: #ffcc12;
  margin: 0.25em 0 0.7em;
  font-size: 4em;
  font-weight: 400;
}

#display-cp {
  margin-bottom: 16px;
}

#timer-label {
  margin: 16px auto 0;
  font-size: 1.5em;
  font-weight: 10;
}
